<div class="container">
    <div class="box1">
        <div class="rings">
            <img src="assets/img/rings.svg" alt="">
        </div>
        <h2 class="title">
            ¡LLEGÓ EL
            <br>
            GRAN DÍA!
        </h2>
        <p>
            “Frase frase frase frase frase frase frase frase frase frase frase frase frase frase frase frase frase frase frase frase” 
        </p>
        <p class="title-secondary">
            Autor autor
        </p>
    </div>
    <div class="box2">
        <p>
            Queremos que seas parte de este momento tan especial...
        </p>
        <p>
            Faltan...
        </p>
        <div class="countdown">
            <p>
                En desarrollo
            </p>
        </div>
    </div>
</div>
<app-back-button [paddingTop]="'5px'" (event)="back()"></app-back-button>
<app-next-button [paddingBottom]="'5px'"></app-next-button>