<div class="container">
    <div class="content">
        <img src="assets/img/church.svg" alt="">
        <p class="title">C E R E M O N I A</p>
        <p>
            21 de Febrero a las 18:00 hs.
        </p>
        <p>
            en la <b>Parroquia San Manuel Mártir</b>,
        </p>
        <p>
            Saravi 2494, La Lonja, Pilar.
        </p>
        <button class="button">
            <span class="title" (click)="toggleMap(ceremonyAddress)">
                CÓMO LLEGAR
            </span>
        </button>
    </div>
    <div class="content">
        <img src="assets/img/party.svg" alt="">
        <p class="title">F I E S T A</p>
        <p>
            Después de la ceremonia,
        </p>
        <p>
            los esperamos para festejar
        </p>
        <p>
            en <b>Quinta La Loba Eventos</b>,
        </p>
        <p>
            El Benteveo 3357, La Lonja, Pilar.
        </p>
        <button class="button">
            <span class="title" (click)="toggleMap(partyAddress)">
                CÓMO LLEGAR
            </span>
        </button>
    </div>
</div>
<ng-template [ngIf]="googleMaps">
    <div class="google-maps-menu">
        <div class="button-container">
            <button class="button openButton" (click)="openInApp()">Abrir en aplicación de Google Maps</button>
            <div class="closeButton" (click)="closeMap()">
                <img src="assets/img/icons/close.svg" alt="X">
            </div>
        </div>
        <div class="google-maps-container">
            <div class="maps-container">
                <app-google-maps [input]="currentAddress!"></app-google-maps>
            </div>
        </div>
    </div>
</ng-template>
<app-back-button [paddingTop]="'10px'" (event)="back()"></app-back-button>
<app-next-button [paddingBottom]="'10px'" (event)="next()"></app-next-button>