.container {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    margin-top: 204px;
    margin-bottom: 204px;
}

.text {
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    text-align: center;
    z-index: 100;
    .agus {
        margin-bottom: .5em;
    }
    .guille {
        margin-top: .5em;
    }
}

.text-secondary {
    font-weight: 300;
    font-size: 18px;
    font-style: normal;
    text-align: center;
    .anuncio {
        margin-top: 2em;
    }
}

.ampersand {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: -1;
    height: 0;
    .ampersand-lines {
        position: absolute;
    }
    .ampersand-element {
        position: absolute;
        top: -1.3em;
    }
}

.presenting-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
}

.presenting-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -5;
}

.frame {
    border: solid 1px #D0AA6E;
}