<div class="container">
  <div class="presenting-header">
    <img src="assets/img/flowers-up.svg" alt="">
  </div>
  <div class="text">
    <p class="agus">
      AGUS
    </p>
    <div class="ampersand">
      <img class="ampersand-lines" src="assets/img/lines.svg" alt="">
      <img class="ampersand-element" src="assets/img/ampersand.svg" alt="">
    </div>
    <p class="guille">
      GUILLE
    </p>
  </div>
  <div class="text-secondary">
    <p class="anuncio">
      ¡NOS CASAMOS!
    </p>
    <b (click)="playMusic()">♥ ♥ ♥</b>
  </div>
  <div class="presenting-footer">
    <img src="assets/img/flowers-down.svg" alt="">
  </div>
</div>