<div class="container">
    <div class="content">
        <div class="text">
            <p class="agus title">
                A G U S
            </p>
            <div class="ampersand">
                <img class="ampersand-lines" src="assets/img/lines.svg" alt="">
                <img class="ampersand-element" src="assets/img/ampersand.svg" alt="">
            </div>
            <p class="guille title">
                G U I L L E
            </p>
        </div>
        <div class="text-secondary">
            <p>
                ¡NOS CASAMOS!
            </p>
        </div>
    </div>
</div>
<app-flowers></app-flowers>
<app-next-button (event)="next()" [paddingBottom]="'40px'"></app-next-button>