@import "../../../assets/scss/styles";

.container {
    justify-content: center;
}

.text {
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    text-align: center;
    line-height: 57.92px;
    font-stretch: expanded;
    .agus {
        position: relative;
        z-index: 5;
        padding-bottom: .5em;
    }
    .guille {
        position: relative;
        z-index: 5;
        padding-top: .75em;
    }
}

.text-secondary {
    position: relative;
    z-index: 5;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    line-height: 21.94px;
    padding-top: 2em;
}

.ampersand {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 4;
    height: 0;
    .ampersand-lines {
        position: absolute;
    }
    .ampersand-element {
        position: absolute;
        top: -1.3em;
    }
    img {
        z-index: 0;
    }
}

.frame {
    border: solid 1px #D0AA6E;
}