<div class="card-container">
    <div class="card">
        <div class="number">
            <img src="assets/img/countdown-circle.svg" alt="">
            <p class="value">
                261
            </p>
        </div>
        <p class="label">
            Días
        </p>
    </div>
    <div class="card">
        <div class="number">
            <img src="assets/img/countdown-circle.svg" alt="">
            <p class="value">
                8
            </p>
        </div>
        <p class="label">
            Horas
        </p>
    </div>
    <div class="card">
        <div class="number">
            <img src="assets/img/countdown-circle.svg" alt="">
            <p class="value">
                38
            </p>
        </div>
        <p class="label">
            Minutos
        </p>
    </div>
    <div class="card">
        <div class="number">
            <img src="assets/img/countdown-circle.svg" alt="">
            <p class="value">
                55
            </p>
        </div>
        <p class="label">
            Segundos
        </p>
    </div>
</div>
