.card-container {
    display: flex;
    flex-direction: row;
}

.card {
    padding: 5px;
    position: relative;
    min-width: 70px;
    .label {
        margin-top: 5px;
        text-align: center;
    }
    .number {
        position: relative;
        display: flex;
        justify-content: center;
        position: relative;
        .value {
            position: absolute;
            top: 30%;
            width: 100%;
            text-align: center;
        }
        img {
            width: 60px;
        }
    }
}

