<div class="card-container">
    <div class="card">
        <div class="number">
            <img src="assets/img/countdown-circle.svg" alt="">
            <p class="value" [ngClass]="{'fade-in': days}">
                {{days}}
            </p>
        </div>
        <p class="label">
            Días
        </p>
    </div>
    <div class="card">
        <div class="number">
            <img src="assets/img/countdown-circle.svg" alt="">
            <p class="value" [ngClass]="{'fade-in': hours}">
                {{hours}}
            </p>
        </div>
        <p class="label">
            Horas
        </p>
    </div>
    <div class="card">
        <div class="number">
            <img src="assets/img/countdown-circle.svg" alt="">
            <p class="value" [ngClass]="{'fade-in': minutes}">
                {{minutes}}
            </p>
        </div>
        <p class="label">
            Minutos
        </p>
    </div>
    <div class="card">
        <div class="number">
            <img src="assets/img/countdown-circle.svg" alt="">
            <p class="value" [ngClass]="{'fade-in': seconds}">
                {{seconds}}
            </p>
        </div>
        <p class="label">
            Segundos
        </p>
    </div>
</div>
