.card-container {
    display: flex;
    flex-direction: row;
}

.card {
    padding: 5px;
    position: relative;
    min-width: 70px;
    .label {
        margin-top: 5px;
        text-align: center;
    }
    .number {
        position: relative;
        display: flex;
        justify-content: center;
        position: relative;
        .value {
            position: absolute;
            top: 30%;
            width: 100%;
            text-align: center;
        }
        img {
            width: 60px;
        }
    }
}

.fade-in {
    animation-name: fade-in-animation;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
    transition: .5s;
}

@keyframes fade-in-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}